<!-- <div class="container my-4">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <h5 class="card-header">User Details</h5>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">First Name</th>
                  <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                  <th scope="row">Last Name</th>
                  <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <th scope="row">Address</th>
                  <td>{{ user.address }}</td>
                </tr>
                <tr>
                  <th scope="row">Password</th>
                  <td>{{ user.password }}</td>
                </tr>
                <tr>
                  <th scope="row">Gender</th>
                  <td>{{ user.gender }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->